<div class="content-profile">

  <div id="profile-header">
    <img src="{{ user.avatar }}" class="user-avatar">

    <h1 class="user-profile-title">Hi {{ user.name }}, welcome back!</h1>

    <a href="#profile-info">Edit your profile<img src="/images/edit.png" class="edit-icon"></a>

  </div>

  <div class="user-likes">
    <h2>Your favorite plants</h2>

    <div>
      <h2>{{ plant.name }}</h2>
      <div class="onePlantImg">
        <img src="{{plant.avatar}}" alt="{{plant.name}}">
      </div>
      </ul>
    </div>

  </div>

  <div class="user-info">
    <form method="post" action="/profile" id="user_test">

      <table id="profile-info" class="info-manage-table greenTable">
        <thead>
          <tr class="table-row">
            <th class="table-head">Your info</th>
            <th class="table-head">Edit your personal info</th>
          </tr>
          <tr>
            <td>
              <label for="name">Your name</label>
            </td>
            <td>
              <input id="name" type="name" name="name" required placeholder="{{ user.name }}" value="{{ user.name }}">
            </td>
          </tr>
          <tr>
            <td>
              <label for="email">Your email</label>
            </td>
            <td>
              <input id="email" type="email" name="email" required placeholder="{{ user.email }}"
                value="{{ user.email }}">
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Choose a new password</label>
            </td>
            <td>
              <input id="password" type="password" placeholder="••••••" required value="{{user.password}}"
                name="password">
            </td>
          </tr>
          <tr>
            <td>
              <label for="avatar">Edit your profile picture</label>
            </td>
            <td>
              <input id="avatar" type="file" name="avatar">
            </td>
          </tr>
        </thead>
      </table>


      {{#if msg}}
      <span>{{msg}}</span>
      {{/if}}

      <button class="save-changes">Save my changes</button>
    </form>

    <form>
      <p>Delete my account</p>
      <button class="delete">Are you sure?</button>
    </form>

  </div>

</div>

</div>