<h1 class="title">Have a look at all of our beautiful plants</h1>
<aside>
  <h3>Filter</h3>
  <h4>Environment</h4>
  <ul>
    {{#each plants.outside}}
    <li>
      <input id="filter_{{this}}" type="checkbox" data-filter="{{this}}" name="{{this}}">
      <label for="filter_{{this}}">{{this}}</label>
    </li>
    {{/each}}
  </ul>
  <h4>Lighting</h4>
  <ul>
    {{#each plants.lighting}}
    <li>
      <input id="filter_{{this}}" type="checkbox" data-filter="{{this}}" name="{{this}}">
      <label for="filter_{{this}}">{{this}}</label>
    </li>
    {{/each}}
  </ul>
  <h4>Humidity</h4>
  <ul>
    {{#each plants.humidity}}
    <li>
      <input id="filter_{{this}}" type="checkbox" data-filter="{{this}}" name="{{this}}">
      <label for="filter_{{this}}">{{this}}</label>
    </li>
    {{/each}}
  </ul>
  <h4>Type of plants</h4>
  <ul>
    {{#each plants.type}}
    <li>
      <input id="filter_{{this}}" type="checkbox" data-filter="{{this}}" name="{{this}}">
      <label for="filter_{{this}}">{{this}}</label>
    </li>
    {{/each}}
  </ul>
  <h4>Animal lover</h4>
  <li>
    <input id="filter_petfriendly" type="checkbox" data-filter="pet friendly" name="pet friendly">
    <label for="filter_petfriendly">Pet Friendly</label>
  </li>
</aside>

<div>
  {{#each plants}}
  <div>
    <a href="/plants/{{this._id}}"><img src="{{this.avatar}}" alt="plant-img"></a>
    <a href="/plants/{{this._id}}">
      <h4>{{this.name}}</h4>
    </a>
  </div>
  {{/each}}
</div>