<h1>{{ plant.name }}</h1>

<div>
  <div class="onePlantImg">
    <img src="{{plant.avatar}}" alt="{{plant.name}}">
  </div>
  <p>Description:<br>{{ plant.description }} </p>
  <p>
    How to take good care of it:<br> {{ plant.advice }}
  </p>
  <ul>Best environment to grow in:
    <li>Lighting: {{ plant.environment.lighting }}</li>
    <li>Humidity: {{ plant.environment.humidity }}</li>
    <li>Pet friendly?{{ plant.environment.animals }}</li>
    <li>Type of plant: {{ plant.environment.type_of_plant }}</li>
  </ul>
</div>